.eddy-landing{
  background-color: map-deep-get($colors, "primary", "base") !important;

  &--app-name{
    position: absolute;;
    top: 40%;
    left: 50%;

    -webkit-transform: translate(-50%, -40%);
    -mz-transform: translate(-50%, -40%);
    -ms-transform: translate(-50%, -40%);
    transform: translate(-50%, -40%);

    color: map-deep-get($colors, "foreground", "white") !important;
  }

  &--toolbar{
    bottom: 5rem !important;

    background-color: map-deep-get($colors, "primary", "base") !important;

    &:before{
      background-color: transparent !important;
    }
  }
}
