.eddy-landing{
  background-color: map-deep-get($colors, "primary", "base") !important;

  &--app-name{
    position: absolute;;
    top: 40%;
    left: 50%;

    -webkit-transform: translate(-50%, -40%);
    -moz-transform: translate(-50%, -40%);
    -ms-transform: translate(-50%, -40%);
    transform: translate(-50%, -40%);

    @include type-style($font-family-eddy-montserratbold, 700, 5rem, map-deep-get($colors, "foreground", "white"));
  }

  &--toolbar{
    bottom: 7rem !important;

    background-color: map-deep-get($colors, "primary", "base") !important;

    &:before{
      background-color: transparent !important;
    }
  }
}
