<template name="landingPage">
  <div class="views">
    <div class="view view-main">
      <div class="pages">
        <div data-page="index" class="page eddy-landing">
            <div class="page-content text-center position-relative">
              <h1 class="eddy-landing--app-name">EDDY</h1>
            </div>

            <!-- Bottom Toolbar-->
            <div class="toolbar eddy-landing--toolbar">
              <div class="toolbar-inner eddy-landing__login_or_sign">
                <a id="signupRoute" class="eddy--login-button border-r-25 padding-h-35 padding-v-15 font-size-fixed-12">I'M NEW</a>
                <a id="loginRoute" class="eddy--login-button border-r-25 padding-h-40 padding-v-15 font-size-fixed-12">LOG IN</a>
              </div>
            </div>
            <!-- /End of Bottom Toolbar-->
        </div>
      </div>
    </div>
  </div>
</template>
