<template name="playFirst">
  <div class="full-height flex-direction--column">
    <div class="flex-direction--row flex-justify-content--flex-end cur-pointer">
      <span id="cross" class="lnr lnr-cross font-size-fixed-24 padding-20 text-bold" aria-hidden="true">
        {{#with opponentStarted}}
            <span>{{this}}</span>
        {{/with}}
      </span>
    </div>

    {{#with userInfo}}
        <div class="padding-h-50 flex-direction--column flex-justify-content--center flex-align-items--center flex--1">
            <div class="">
              <img width="150" height="150" class="make-round eddy-home--profile-photo"
              src="{{#if this.profile.image}}
                    {{this.profile.image}}
                  {{else}}
                      http://placehold.it/150x150
                  {{/if}}"
              alt="Profile Photo">
            </div>
              <div class="full-width margin-top-20">
                <h3 class="margin-0 font-size-fixed-14 text-center padding-left-15 margin-top-10 eddy-home--profile-info__name_age">
                  <span class="padding-h-15">{{this.profile.name}}</span>
                  <span class="font-weight-400"> {{this.profile.age}}</span>
                </h3>
                <h5 class="margin-0 text-center eddy-home--profile-info__nickname padding-v-5">{{this.profile.nickName}}</h5>
                <h5 class="margin-0 font-size-fixed-12 font-weight-400 text-center eddy-home--profile-info__programme">{{this.profile.programme}}</h5>
                <h5 class="margin-0 font-size-fixed-12 font-weight-400 text-center eddy-home--profile-info__university padding-v-5"> {{this.profile.university}}</h5>
              </div>

              <div class="margin-top-80 full-width">
                <button type="button" href="#" class="eddy-play-first__btn flex-direction--row eddy--sqr-buttons__plan__primary border-r-25 full-width">
                  <span class="eddy-play-first__badge">
                      {{time}}
                  </span>
                  <span id="play" class="flex--1">PLAY FIRST</span>
                </button>
              </div>
        </div>
    {{/with}}


  </div>
</template>
