<template name="login">
  <div class="views">
    <div class="view view-main">
      <div class="pages">
        <div class="page">
          <div class="page-content">
            <!-- Top Navbar-->
            <div class="navbar eddy-navbar">
              <div class="navbar-inner">
                  <div class="left">
                      <a href="{{pathFor 'home'}}" class="link icon-only">
                          <span class="lnr lnr-chevron-left" aria-hidden="true"></span>
                      </a>
                  </div>
                  <div class="center">
                    <h2 class="font-size-fixed-14 margin-0">WELCOME BACK SANA</h2>
                  </div>
                  <div class="right">
                    <a href="#" class="open-panel link icon-only"></a>
                  </div>
              </div>
            </div>
            <!-- /End of Top Navbar-->
            <div class="list-block margin-top-170 padding-h-20">
              <form name="signUpForm eddy-form" autocomplete="off">
                <ul class="eddy-form--lists">
                  <li>
                    <div class="item-content">
                      <div class="item-media width-15">
                        <span class="lnr lnr-envelope eddy-form--icon" aria-hidden="true"></span>
                      </div>
                      <div class="item-inner eddy-form--item-inner">
                        <div class="item-input border-bottom">
                          <input id="email" autocomplete="off" required type="email" placeholder="Student Email">
                        </div>
                      </div>
                    </div>
                  </li>
                  <li>
                    <div class="item-content">
                      <div class="item-media width-15">
                        <span class="lnr lnr-lock eddy-form--icon" aria-hidden="true"></span>
                      </div>
                      <div class="item-inner eddy-form--item-inner">
                        <div class="item-input border-bottom">
                          <input id="password" autocomplete="off" required type="password" placeholder="Password">
                        </div>
                      </div>
                    </div>
                    <div class="flex-direction--row flex-justify-content--flex-end padding-h-16">
                      <a id="forgotPassRoute" href="#"> <i>forgot password?</i> </a>
                    </div>
                  </li>
                </ul>
                <div class="content-block">
                  <div class="row">
                    <div class="col-auto flex-justify-content--center display-flex flex-direction--row">
                      <input type="submit"
                             name="name"
                             value="SIGN IN"
                             class="width-auto font-size-fixed-10 button button-round eddy--login-button border-r-20 padding-h-24 margin-top-50">
                    </div>
                  </div>
                </div>
              </form>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

</template>
