<template name="profile">
  <div class="views">
    <div class="view view-main" data-page="home">
      <div class="pages navbar-fixed">
        <div data-page="home" class="page">
           <div class="navbar eddy-navbar">
              <div class="navbar-inner">
                  <div class="left">
                      <a href="{{pathFor 'homePage'}}" class="link icon-only iconic-tap">
                          <i class="zmdi zmdi-chevron-left font-size-fixed-40 full-width text-center"></i>
                      </a>
                  </div>
                  <div class="center full-width text-center">
                    <h2 class="margin-0 full-width eddy-navbar__title">TELL US ABOUT YOURSELF</h2>
                  </div>
                  <div class="right">
                    <a href="#" class="open-panel link icon-only"></a>
                  </div>
              </div>
            </div>
           <div class="page-content">
             <div class="eddy-profile padding-top-20 padding-bottom-45">
               <form id="profileInfo">
                 <div class="eddy-profile__upload-section margin-h-30">
                     <div class="full-width flex-direction--row flex-justify-content--space-between flex-align-items--center">
                       <p class="control-label eddy-profile__pptxt">Profile picture</p>
                       {{#if $neq currentUser.profile.image " "}}
                         <div class="text-center">
                           <img class="make-round" width="85" height="85" src="{{currentUser.profile.image}}" alt="Profile photo" />
                           <a href="#" id="remove" class="font-size-fixed-14 display-block padding-top-5">Remove</a>
                         </div>
                          {{else}}
                            <div>
                                <label id="label" class="eddy-profile__upload_btn font-size-fixed-30" for="profile_img">
                                  <i class="zmdi zmdi-plus"></i>
                                </label>
                                <input name="profile_img" id="profile_img" type="file" class="cloudinary-fileupload hide" accept="image/*">
                            </div>
                       {{/if}}
                     </div>
                 </div>

                 <div class="list-block margin-top-0 margin-h-30">
                    <ul>
                      <li class="margin-bottom-15 padding-top-15 p-form">
                        <div class="item-content padding-left-0">

                          <div class="item-inner">

                            <div class="item-input">
                              <input type="text" id="name" placeholder="Name *" required name="name">
                            </div>
                          </div>
                        </div>
                      </li>
                      <li class="margin-bottom-15 p-form">
                        <div class="item-content padding-left-0">
                          <div class="item-inner">

                            <div class="item-input">
                              <select name="university" id="university" required autocomplete="off">
                                <option value="">University *</option>
                                <option value="AUST">AUST</option>
                                <option value="BUET">BUET</option>
                              </select>
                            </div>
                          </div>
                        </div>
                      </li>
                      <li class="margin-bottom-15 p-form">
                        <div class="item-content padding-left-0">

                          <div class="item-inner">

                            <div class="item-input">
                              <input type="text" id="programme" placeholder="Programme *" name="programme"  required>
                            </div>
                          </div>
                        </div>
                      </li>
                      <li class="margin-bottom-15 p-form">
                        <div class="item-content padding-left-0">
                          <div class="item-inner">

                            <div class="item-input">
                              <select id="nickname" placeholder="Nickname" name="nickName"  autocomplete="off">
                                <option value="">Nickname</option>
                                <option value="warrior">warrior</option>
                                <option value="lion">lion</option>
                              </select>
                            </div>
                          </div>
                        </div>
                      </li>
                      <li class="margin-bottom-15 p-form">
                        <div class="item-content padding-left-0">

                          <div class="item-inner">

                            <div class="item-input">
                              <input type="number" id="age" placeholder="Age" name="age">
                            </div>
                          </div>
                        </div>
                      </li>
                      <li class="margin-bottom-15 p-form">
                        <div class="item-content padding-left-0">
                          <div class="item-inner">

                            <div class="item-input">
                              <select id="country" placeholder="Country" name="country"  autocomplete="off">
                                <option value="">Country</option>
                                <option value="bd">bd</option>
                                <option value="uk">uk</option>
                              </select>
                            </div>
                          </div>
                        </div>
                      </li>
                    </ul>
                  </div>

                 <div class="eddy-profile__submit">
                   <button type="submit" class="btn btn-primary">DONE</button>
                 </div>
               </form>
             </div>
           </div>
        </div>
       </div>
    </div>
  </div>
</template>
