<template name="profile">
    <div class="views">
     <div class="view view-main" data-page="home">
       <div class="pages navbar-fixed">
         <div data-page="home" class="page">
           <div class="navbar eddy-navbar">
             <div class="navbar-inner">
                 <div class="left">
                     <a href="{{pathFor 'homePage'}}" class="link icon-only">
                         <i class="fa fa-chevron-left" aria-hidden="true"></i>
                     </a>
                 </div>
                 <div class="center full-width text-center">
                   <h2 class="font-size-fixed-14">TELL US ABOUT YOURSELF</h2>
                 </div>
                 <div class="right">
                   <a href="#" class="open-panel link icon-only"></a>
                 </div>
             </div>
           </div>
          <div class="page-content">
            <div class="eddy-profile padding-top-30">
              {{>  quickForm collection="UserInformation" id="userInformation" type="insert" omitFields="createdBy"}}
            </div>
          </div>
       </div>
     </div>
     </div>
   </div>
</template>
