<template name="mantra">
  <div class="views">
    <div class="view view-main">
      <div class="navbar eddy-navbar">
        <div class="navbar-inner padding-h-0">
            <div class="left">
                <a href="{{pathFor 'homePage'}}" class="link icon-only">
                  <i class="zmdi zmdi-chevron-left font-size-fixed-40 full-width text-center"></i>
                </a>
            </div>
            <div class="center full-width text-center">
              <h2 class="font-size-fixed-14 margin-0 full-width eddy-navbar__title">
                  MANTRA
              </h2>
            </div>
            <div class="right">
              <a href="#" class="open-panel link icon-only">

              </a>
            </div>
        </div>
      </div>
      <div class="pages">
        <div class="page">
          <div class="page-content">
            <div class="margin-bottom-55 margin-top-70 padding-h-30">
              <p class="font-size-fixed-12 line-height-bigger eddy-result-exp__content margin-top-30">
                Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat. Ut wisi enim ad minim veniam, quis nostrud exerci tation ullamcorper suscipit lobortis nisl ut aliquip ex ea commodo consequat. Duis autem vel eum iriure dolor in hendrerit in vulputate velit esse molestie consequat,
              </p>
            </div>
          </div>
        </div>
      </div>
      {{> toolbar}}
    </div>
  </div>
</template>
