<template name="toolbar">
  <div class="toolbar position-absolute top-initial eddy-toolbar">
    <div class="toolbar-inner flex-direction--row flex-justify-content--space-between flex-align-items--center padding-h-25 padding-top-5">
      <span data-popup=".popup-settings" class="button ripple border_none--imp eddy-toolbar--icon open-popup">

        <span class="lnr lnr-cog"></span>
      </span>

      <span id="home" class="button ripple border_none--imp eddy-toolbar--icon">
        <span class="lnr lnr-home" aria-hidden="true"></span>
      </span>

      <span data-popup=".popup-notification" class="button ripple border_none--imp eddy-toolbar--icon eddy-toolbar--icon__noti open-popup">

       {{#with notificationAll}}
        {{#if $eq this 0}}
          <div>
            <span class="lnr lnr-alarm" aria-hidden="true"></span>
          </div>
           {{else}}
           <div>
             <span class="lnr lnr-alarm" aria-hidden="true"></span>
           </div>
           <span class="eddy-toolbar--icon__noti--badge">10</span>
          {{/if}}
        {{/with}}
      </span>
    </div>
  </div>
</template>
