<template name="toolbar">
  <div class="toolbar position-absolute top-initial eddy-toolbar">
    <div class="toolbar-inner flex-direction--row">
      <span data-popup=".popup-settings" class="flex--1 border_none--imp eddy-toolbar--icon open-popup flex-direction--row flex-justify-content--center flex-align-items--center full-height">
        <span class="lnr lnr-cog"></span>
      </span>

      <span id="home" class="flex--1 border_none--imp eddy-toolbar--icon flex-direction--row flex-justify-content--center flex-align-items--center  full-height">
        <span class="lnr lnr-home" aria-hidden="true"></span>
      </span>

      
      <span data-popup=".popup-notification" class="flex--1 border_none--imp eddy-toolbar--icon eddy-toolbar--icon__noti open-popup full-height flex-direction--row flex-justify-content--center flex-align-items--center">
           <div class="text-center padding-top-8">
             <span class="lnr lnr-alarm" aria-hidden="true"></span>
             {{#if $eq notificationAll 0 }}
                 <span class="eddy-toolbar--icon__noti--badge"></span>
                 {{else}}
                 <span class="eddy-toolbar--icon__noti--badge">{{notificationAll}}</span>
              {{/if}}
           </div>
      </span>

    </div>
  </div>
</template>
