<template name="toolbar">
  <div class="toolbar position-absolute top-initial eddy-toolbar">
    <div class="toolbar-inner flex-direction--row flex-justify-content--space-between flex-align-items--center">
      <span data-popup=".popup-settings" class="button ripple border_none--imp eddy-toolbar--icon open-popup">
        <i class="fa fa-cog" aria-hidden="true"></i>
      </span>
      <span class="button ripple border_none--imp eddy-toolbar--icon">
        <i class="fa fa-home" aria-hidden="true"></i>
      </span>
      <span class="button ripple border_none--imp eddy-toolbar--icon eddy-toolbar--icon__noti">
        <i class="fa fa-bell-o" aria-hidden="true"></i>

        <span class="eddy-toolbar--icon__noti--badge">5</span>
      </span>
    </div>
  </div>
</template>
