// .swipeout-opened {
//   .swipeout-content{
//     transform: translate3d(100%, 0px, 0px) !important;
//   }
// }
//
// .swipeout-actions-opened {
//   width: 100%;
//   left: 100% !important;
//   a {
//     &:first-child {
//       transform: translate3d(0px, 0px, 0px) !important;
//     }
//     &:last-child {
//       transform: translate3d(100%, 0px, 0px) !important;
//     }
//   }
// }

.eddy-home {
  &--profile-info {
    margin-top: -350px;

    &__name_age {
      @include type-style($font-family-eddy-montserratbold, 700, 1.5rem, #595959);
    }
    &__nickname {
      @include type-style($font-family-base, 400, 1.2rem, #595959);
    }
    &__programme {
      @include type-style($font-family-eddy-montserratlight, 400, 1.2rem, #595959);
    }
    &__university {
      @include type-style($font-family-eddy-montserratlight, 400, 1.2rem, #595959);
    }
  }
  &--quiz {
    &--content{
      &__swiped {
        a{
          background-color: map-deep-get($colors, 'primary', 'base') !important;
          @include type-style($font-family-eddy-montserratlight, 400, 1.46rem, map-deep-get($colors, 'foreground', 'white'));
        }
      }
    }

    &--number{
      @include type-style($font-family-eddy-montserratbold, 400, 1.6rem, map-deep-get($colors, 'primary', 'base'));
    }
    &__topic {
      padding-top: 5px;
      @include type-style($font-family-eddy-montserratlight, 400, 1.8rem, map-deep-get($colors, 'foreground', 'light-black'));
    }
    &--rank{
      @include type-style($font-family-eddy-montserratbold, 400, 1.6rem, map-deep-get($colors, 'primary', 'base'));
    }

    .item-inner {
      background-image: none !important;
    }
  }

  &--profile-photo {
    box-shadow: -10px 1px 20px -5px rgba(0, 0, 0, 0.10);
  }
}
.toggle-profile {
  padding: 63px 0 0 0;
}
