<template name="homePage">
      {{!-- <img src="{{currentUser.profile.image}}" alt="Smiley face" height="42" width="42"> --}}
      {{currentUser.profile.country}}
      {{currentUser.profile.name}}
      {{currentUser.profile.nickName}}
      {{currentUser.profile.programme}}
      {{currentUser.profile.totalPoints}}
      {{currentUser.profile.university}}
      {{currentUser.profile.age}}

      <div class="views">
        <div class="view view-main">
          <div class="eddy-home--profile-info hide">
            <div class="padding-top-30 flex-direction--column flex-justify-content--flex-start flex-align-items--center">
              <div class="">
                <img class="make-round eddy-home--quiz--icon" src="http://placehold.it/65x65" alt="icon">
              </div>
              <div class="full-width">
                <h3 class="margin-0 font-size-fixed-14 text-center padding-left-15">
                  <span class="padding-right-15">SANA ALI KHAN</span>
                  <span class="font-weight-400">25</span>
                </h3>
                <h5 class="margin-0 font-size-fixed-12 font-weight-500 text-center">Mad Dog</h5>
                <h5 class="margin-0 font-size-fixed-12 font-weight-400 text-center">Master of Finance</h5>
                <h5 class="margin-0 font-size-fixed-12 font-weight-400 text-center">University of Queensland</h5>
              </div>
              <div id="hideProfileInfo" class="text-center full-width display-block padding-15">
                <i class="fa fa-chevron-up" aria-hidden="true"></i>
              </div>
            </div>
          </div>
          <div id="showProfileInfo" class="navbar eddy-navbar">
            <div class="navbar-inner">
                <div class="text-center full-width display-block">
                  <i class="fa fa-chevron-down" aria-hidden="true"></i>
                </div>
            </div>
          </div>
          <div class="pages">
            <div class="page with-subnavbar">
              <div class="page-content">

                <!-- <ul>
                  {{#each currentUser.profile.selectedCourses}}
                    <li id="list">{{this}} </li>
                  {{/each}}
                </ul> -->

                <div class="list-block eddy-home margin-0">
                  <ul class="eddy-home--quizes margin-v-70">
                    <li class="swipeout eddy-home--quiz">
                      <div class="swipeout-content item-content eddy-home--quiz--content">
                        <div class="item-media eddy-home--quiz--icon-wrap">
                            <img class="make-round eddy-home--quiz--icon" src="http://placehold.it/35x35" alt="icon">
                        </div>
                        <div class="item-inner padding-v-20">
                          <div class="item-title">
                              <h4 class="margin-0 font-size-fixed-12 eddy-home--quiz--number">
                                MKTC 7501
                                <span class="eddy-badge eddy-badge__primary">?</span>
                              </h4>
                              <h5 class="margin-0 font-size-fixed-12 opacity-80 eddy-home--quiz--topic">Foundation of marketing</h5>
                          </div>
                          <div class="item-after eddy-home--quiz--rank">
                            <span>1 <sup>{{quizRankFormat 1}}</sup></span>
                          </div>
                        </div>
                      </div>
                      <div class="swipeout-actions-left eddy-home--quiz--content__swiped">
                        <a href="#" class="flex-direction--column flex-justify-content--center flex-align-items--center">
                          <span class="eddy-badge">?</span>
                          <p class="margin-0 font-size-fixed-12 padding-top-5">I need help</p>
                        </a>
                        <a href="#" class="flex-direction--column flex-justify-content--center flex-align-items--center">
                          <span class="eddy-badge">i</span>
                          <p class="margin-0 font-size-fixed-12 padding-top-5">I can help</p>
                        </a>
                      </div>
                    </li>
                    <li class="swipeout eddy-home--quiz">
                      <div class="swipeout-content item-content eddy-home--quiz--content">
                        <div class="item-media eddy-home--quiz--icon-wrap">
                            <img class="make-round eddy-home--quiz--icon" src="http://placehold.it/35x35" alt="icon">
                        </div>
                        <div class="item-inner padding-v-20">
                          <div class="item-title">
                              <h4 class="margin-0 font-size-fixed-12 eddy-home--quiz--number">
                                ECON 2501
                                <span class="eddy-badge eddy-badge__primary">i</span>
                              </h4>
                              <h5 class="margin-0 font-size-fixed-12 opacity-80 eddy-home--quiz--topic">Foundation of marketing</h5>
                          </div>
                          <div class="item-after eddy-home--quiz--rank">
                            <span>20 <sup>{{quizRankFormat 20}}</sup></span>
                          </div>
                        </div>
                      </div>
                      <div class="swipeout-actions-left eddy-home--quiz--content__swiped">
                        <a href="#" class="flex-direction--column flex-justify-content--center flex-align-items--center">
                          <span class="eddy-badge">?</span>
                          <p class="margin-0 font-size-fixed-12 padding-top-5">I need help</p>
                        </a>
                        <a href="#" class="flex-direction--column flex-justify-content--center flex-align-items--center">
                          <span class="eddy-badge">i</span>
                          <p class="margin-0 font-size-fixed-12 padding-top-5">I can help</p>
                        </a>
                      </div>
                    </li>
                    <li class="swipeout eddy-home--quiz">
                      <div class="swipeout-content item-content eddy-home--quiz--content">
                        <div class="item-media eddy-home--quiz--icon-wrap">
                            <img class="make-round eddy-home--quiz--icon" src="http://placehold.it/35x35" alt="icon">
                        </div>
                        <div class="item-inner padding-v-20">
                          <div class="item-title">
                              <h4 class="margin-0 font-size-fixed-12 eddy-home--quiz--number">
                                MKTC 7501
                                <span class="eddy-badge eddy-badge__primary">?</span>
                              </h4>
                              <h5 class="margin-0 font-size-fixed-12 opacity-80 eddy-home--quiz--topic">Foundation of marketing</h5>
                          </div>
                          <div class="item-after eddy-home--quiz--rank">
                            <span>1 <sup>{{quizRankFormat 1}}</sup></span>
                          </div>
                        </div>
                      </div>
                      <div class="swipeout-actions-left eddy-home--quiz--content__swiped">
                        <a href="#" class="flex-direction--column flex-justify-content--center flex-align-items--center">
                          <span class="eddy-badge">?</span>
                          <p class="margin-0 font-size-fixed-12 padding-top-5">I need help</p>
                        </a>
                        <a href="#" class="flex-direction--column flex-justify-content--center flex-align-items--center">
                          <span class="eddy-badge">i</span>
                          <p class="margin-0 font-size-fixed-12 padding-top-5">I can help</p>
                        </a>
                      </div>
                    </li>
                    <li class="swipeout eddy-home--quiz">
                      <div class="swipeout-content item-content eddy-home--quiz--content">
                        <div class="item-media eddy-home--quiz--icon-wrap">
                            <img class="make-round eddy-home--quiz--icon" src="http://placehold.it/35x35" alt="icon">
                        </div>
                        <div class="item-inner padding-v-20">
                          <div class="item-title">
                              <h4 class="margin-0 font-size-fixed-12 eddy-home--quiz--number">
                                ECON 2501
                                <span class="eddy-badge eddy-badge__primary">i</span>
                              </h4>
                              <h5 class="margin-0 font-size-fixed-12 opacity-80 eddy-home--quiz--topic">Foundation of marketing</h5>
                          </div>
                          <div class="item-after eddy-home--quiz--rank">
                            <span>20 <sup>{{quizRankFormat 20}}</sup></span>
                          </div>
                        </div>
                      </div>
                      <div class="swipeout-actions-left eddy-home--quiz--content__swiped">
                        <a href="#" class="flex-direction--column flex-justify-content--center flex-align-items--center">
                          <span class="eddy-badge">?</span>
                          <p class="margin-0 font-size-fixed-12 padding-top-5">I need help</p>
                        </a>
                        <a href="#" class="flex-direction--column flex-justify-content--center flex-align-items--center">
                          <span class="eddy-badge">i</span>
                          <p class="margin-0 font-size-fixed-12 padding-top-5">I can help</p>
                        </a>
                      </div>
                    </li>
                    <li class="swipeout eddy-home--quiz">
                      <div class="swipeout-content item-content eddy-home--quiz--content">
                        <div class="item-media eddy-home--quiz--icon-wrap">
                            <img class="make-round eddy-home--quiz--icon" src="http://placehold.it/35x35" alt="icon">
                        </div>
                        <div class="item-inner padding-v-20">
                          <div class="item-title">
                              <h4 class="margin-0 font-size-fixed-12 eddy-home--quiz--number">
                                MKTC 7501
                                <span class="eddy-badge eddy-badge__primary">?</span>
                              </h4>
                              <h5 class="margin-0 font-size-fixed-12 opacity-80 eddy-home--quiz--topic">Foundation of marketing</h5>
                          </div>
                          <div class="item-after eddy-home--quiz--rank">
                            <span>1 <sup>{{quizRankFormat 1}}</sup></span>
                          </div>
                        </div>
                      </div>
                      <div class="swipeout-actions-left eddy-home--quiz--content__swiped">
                        <a href="#" class="flex-direction--column flex-justify-content--center flex-align-items--center">
                          <span class="eddy-badge">?</span>
                          <p class="margin-0 font-size-fixed-12 padding-top-5">I need help</p>
                        </a>
                        <a href="#" class="flex-direction--column flex-justify-content--center flex-align-items--center">
                          <span class="eddy-badge">i</span>
                          <p class="margin-0 font-size-fixed-12 padding-top-5">I can help</p>
                        </a>
                      </div>
                    </li>
                    <li class="swipeout eddy-home--quiz">
                      <div class="swipeout-content item-content eddy-home--quiz--content">
                        <div class="item-media eddy-home--quiz--icon-wrap">
                            <img class="make-round eddy-home--quiz--icon" src="http://placehold.it/35x35" alt="icon">
                        </div>
                        <div class="item-inner padding-v-20">
                          <div class="item-title">
                              <h4 class="margin-0 font-size-fixed-12 eddy-home--quiz--number">
                                ECON 2501
                                <span class="eddy-badge eddy-badge__primary">i</span>
                              </h4>
                              <h5 class="margin-0 font-size-fixed-12 opacity-80 eddy-home--quiz--topic">Foundation of marketing</h5>
                          </div>
                          <div class="item-after eddy-home--quiz--rank">
                            <span>20 <sup>{{quizRankFormat 20}}</sup></span>
                          </div>
                        </div>
                      </div>
                      <div class="swipeout-actions-left eddy-home--quiz--content__swiped">
                        <a href="#" class="flex-direction--column flex-justify-content--center flex-align-items--center">
                          <span class="eddy-badge">?</span>
                          <p class="margin-0 font-size-fixed-12 padding-top-5">I need help</p>
                        </a>
                        <a href="#" class="flex-direction--column flex-justify-content--center flex-align-items--center">
                          <span class="eddy-badge">i</span>
                          <p class="margin-0 font-size-fixed-12 padding-top-5">I can help</p>
                        </a>
                      </div>
                    </li>
                    <li class="swipeout eddy-home--quiz">
                      <div class="swipeout-content item-content eddy-home--quiz--content">
                        <div class="item-media eddy-home--quiz--icon-wrap">
                            <img class="make-round eddy-home--quiz--icon" src="http://placehold.it/35x35" alt="icon">
                        </div>
                        <div class="item-inner padding-v-20">
                          <div class="item-title">
                              <h4 class="margin-0 font-size-fixed-12 eddy-home--quiz--number">
                                MKTC 7501
                                <span class="eddy-badge eddy-badge__primary">?</span>
                              </h4>
                              <h5 class="margin-0 font-size-fixed-12 opacity-80 eddy-home--quiz--topic">Foundation of marketing</h5>
                          </div>
                          <div class="item-after eddy-home--quiz--rank">
                            <span>1 <sup>{{quizRankFormat 1}}</sup></span>
                          </div>
                        </div>
                      </div>
                      <div class="swipeout-actions-left eddy-home--quiz--content__swiped">
                        <a href="#" class="flex-direction--column flex-justify-content--center flex-align-items--center">
                          <span class="eddy-badge">?</span>
                          <p class="margin-0 font-size-fixed-12 padding-top-5">I need help</p>
                        </a>
                        <a href="#" class="flex-direction--column flex-justify-content--center flex-align-items--center">
                          <span class="eddy-badge">i</span>
                          <p class="margin-0 font-size-fixed-12 padding-top-5">I can help</p>
                        </a>
                      </div>
                    </li>
                    <li class="swipeout eddy-home--quiz">
                      <div class="swipeout-content item-content eddy-home--quiz--content">
                        <div class="item-media eddy-home--quiz--icon-wrap">
                            <img class="make-round eddy-home--quiz--icon" src="http://placehold.it/35x35" alt="icon">
                        </div>
                        <div class="item-inner padding-v-20">
                          <div class="item-title">
                              <h4 class="margin-0 font-size-fixed-12 eddy-home--quiz--number">
                                ECON 2501
                                <span class="eddy-badge eddy-badge__primary">i</span>
                              </h4>
                              <h5 class="margin-0 font-size-fixed-12 opacity-80 eddy-home--quiz--topic">Foundation of marketing</h5>
                          </div>
                          <div class="item-after eddy-home--quiz--rank">
                            <span>20 <sup>{{quizRankFormat 20}}</sup></span>
                          </div>
                        </div>
                      </div>
                      <div class="swipeout-actions-left eddy-home--quiz--content__swiped">
                        <a href="#" class="flex-direction--column flex-justify-content--center flex-align-items--center">
                          <span class="eddy-badge">?</span>
                          <p class="margin-0 font-size-fixed-12 padding-top-5">I need help</p>
                        </a>
                        <a href="#" class="flex-direction--column flex-justify-content--center flex-align-items--center">
                          <span class="eddy-badge">i</span>
                          <p class="margin-0 font-size-fixed-12 padding-top-5">I can help</p>
                        </a>
                      </div>
                    </li>
                  </ul>
                </div>
              </div>
            </div>
          </div>
          <div class="toolbar position-absolute top-initial eddy-toolbar">
            <div class="toolbar-inner flex-direction--row flex-justify-content--space-between flex-align-items--center">
              <span class="button ripple border_none--imp eddy-toolbar--icon">
                <i class="fa fa-cog" aria-hidden="true"></i>
              </span>
              <span class="button ripple border_none--imp eddy-toolbar--icon">
                <i class="fa fa-home" aria-hidden="true"></i>
              </span>
              <span class="button ripple border_none--imp eddy-toolbar--icon eddy-toolbar--icon__noti">
                <i class="fa fa-bell-o" aria-hidden="true"></i>

                <span class="eddy-toolbar--icon__noti--badge">5</span>
              </span>
            </div>
          </div>
        </div>
      </div>

</template>
