<template name="homePage">
      <!-- {{currentUser.profile.country}} -->
      <div class="views">
        <div class="view view-main">
          <div class="eddy-home--profile-info">
            <div class="padding-top-15 flex-direction--column flex-justify-content--flex-start flex-align-items--center">

                <div class="">
                  <img width="100" height="100" class="make-round eddy-home--profile-photo"
                  src="
                  {{#if $neq currentUser.profile.image " "}}
                      {{currentUser.profile.image}}
                  {{else}}
                      http://placehold.it/100x100
                  {{/if}}
                  " alt="Profile Photo">
                </div>
                  <div class="full-width">
                    <h3 class="margin-0 font-size-fixed-14 text-center padding-left-15 margin-top-0 eddy-home--profile-info__name_age">
                      <span class="padding-h-15">{{currentUser.profile.name}}&nbsp;</span>
                      <span class="font-weight-400">  {{currentUser.profile.age}}&nbsp;</span>
                    </h3>
                    <h5 class="margin-0 text-center eddy-home--profile-info__nickname padding-v-5">{{currentUser.profile.nickName}} &nbsp;</h5>
                    <h5 class="margin-0 font-size-fixed-12 font-weight-400 text-center eddy-home--profile-info__programme">{{currentUser.profile.programme}}&nbsp;</h5>
                    <h5 class="margin-0 font-size-fixed-12 font-weight-400 text-center eddy-home--profile-info__university padding-v-5">  {{currentUser.profile.university}}&nbsp;</h5>
                  </div>

              <div id="hideProfileInfo" class="text-center full-width display-block padding-0 cur-pointer">
                <i class="zmdi zmdi-chevron-up font-size-fixed-30 eddy-navbar__profile_hide_show"></i>
              </div>
            </div>
          </div>
          <div id="showProfileInfo" class="navbar eddy-navbar cur-pointer">
            <div class="navbar-inner">
                <div class="text-center full-width display-block">
                  <i class="zmdi zmdi-chevron-down font-size-fixed-30 eddy-navbar__profile_hide_show"></i>
                </div>
            </div>
          </div>
          <div class="pages">
            <div class="page with-subnavbar toggle-profile">
              <div class="page-content">
                <div class="list-block eddy-home margin-top-0 margin-bottom-80">
                  <ul class="eddy-home--quizes margin-top-90 margin-bottom-70">
                    {{#each currentUser.profile.selectedCourses}}
                      <li id="list" class="swipeout eddy-home--quiz">
                       <a class="item-link cur-pointer">
                        <div class="swipeout-content item-content eddy-home--quiz--content">
                          <div class="item-media eddy-home--quiz--icon-wrap">
                              <img class="width-50 eddy-home--quiz--icon" src="/assets/icon_2.png" alt="icon">
                          </div>
                          <div class="item-inner padding-v-15">
                            <div class="item-title">
                                <h4 class="margin-0 font-size-fixed-12 eddy-home--quiz--number">
                                  ECON 2501
                                  <span class="eddy-badge eddy-badge__primary">
                                    <i class="zmdi zmdi-help-outline"></i>
                                  </span>
                                </h4>
                                <h5 class="margin-0 font-size-fixed-12 opacity-80 eddy-home--quiz__topic">{{courseName}}</h5>
                            </div>
                            <div class="item-after eddy-home--quiz--rank">
                              <span>
                                  {{#if $eq ranking 'king' }}
                                      King
                                    {{else}}
                                      {{ranking}}
                                  {{/if}}
                                <sup>
                                {{#if $eq ranking 1 }}st  {{/if}}
                                {{#if $eq ranking 2 }}nd  {{/if}}
                                {{#if $eq ranking 3 }}rd  {{/if}}
                                {{#if $gte ranking 3 }}th  {{/if}}
                              </sup>
                            </span>
                            </div>
                          </div>
                        </div>
                        <div class="swipeout-actions-left eddy-home--quiz--content__swiped">
                          <a href="#" class="flex-direction--column flex-justify-content--center flex-align-items--center">
                            <span class="eddy-badge">
                              <i class="zmdi zmdi-help-outline"></i>
                            </span>
                            <p class="margin-0 font-size-fixed-14 padding-top-5">I need help</p>
                          </a>
                          <a href="#" class="flex-direction--column flex-justify-content--center flex-align-items--center">
                            <span class="eddy-badge">
                              <i class="zmdi zmdi-info-outline"></i>
                            </span>
                            <p class="margin-0 font-size-fixed-14 padding-top-5">I can help</p>
                          </a>
                        </div>
                       </a>
                      </li>
                    {{/each}}
                  </ul>
                </div>
              </div>
            </div>
          </div>
          {{> toolbar}}
        </div>
      </div>

</template>