%display_flex{
  display: -webkit-flex !important;
  display: -ms-flex !important;
  display: flex !important;
}

.flex-direction{
  &--row{
    @extend %display_flex;
    flex-direction: row !important;
  }
  &--row-reverse{
    @extend %display_flex;
    flex-direction: row-reverse !important;
  }
  &--column{
    @extend %display_flex;
    flex-direction: column !important;
  }
  &--column-reverse{
    @extend %display_flex;
    flex-direction: reverse !important;
  }
}

.flex-wrap{
  &--nowrap{
    flex-wrap: nowrap !important;
  }
  &--wrap{
    flex-wrap: wrap !important;
  }

  &--wrap-reverse{
    flex-wrap: wrap-reverse !important;
  }
}

.flex-justify-content{
  &--flex-start{
    justify-content: flex-start !important;
  }
  &--flex-end{
    justify-content: flex-end !important;
  }
  &--center{
    justify-content: center !important;
  }
  &--space-between{
    justify-content: space-between !important;
  }
  &--space-around{
    justify-content: space-around !important;
  }
}

.flex-align-items{
  &--flex-start{
    align-items: flex-start !important;
  }
  &--flex-end{
    align-items: flex-end !important;
  }
  &--center{
    align-items: center !important;
  }
  &--baseline{
    align-items: baseline !important;
  }
  &--stretch{
    align-items: stretch !important;
  }
}

.flex{
  &--none{
    flex: none !important;
  }
  &--1{
    flex-grow: 1 !important;
  }
  &--2{
    flex-grow: 2 !important;
  }
  &--3{
    flex-grow: 3 !important;
  }
}
