.eddy-searchbar {
    height: 6rem !important;
    background-color: map-deep-get($colors, "background", "white") !important;
    @extend %box_shadow;
    input[type=search] {
        background-image: url(assets/search.svg) !important;
        background-size: 1.8rem 1.8rem !important;
        background-position: 95% center !important;
        border: 1px solid map-deep-get($colors, "primary", "base") !important;
        @include type-style($font-family-eddy-montserrathairline, 400, 1.8rem, map-deep-get($colors, "foreground", "black"));
        //color: map-deep-get($colors, "foreground", "light-black") !important;
        &::-webkit-input-placeholder {
            /* Chrome/Opera/Safari */
            color: map-deep-get($colors, "foreground", "black") !important;
            text-align: center;
        }
        &::-moz-placeholder {
            /* Firefox 19+ */
            color: map-deep-get($colors, "foreground", "black") !important;
            text-align: center;
        }
        &:-ms-input-placeholder {
            /* IE 10+ */
            color: map-deep-get($colors, "foreground", "black") !important;
            text-align: center;
        }
        &:-moz-placeholder {
            /* Firefox 18- */
            color: map-deep-get($colors, "foreground", "black") !important;
            text-align: center;
        }
    }
}

.item-link .zmdi {
    font-size: 1.5rem;
}

.contacts-block .list-group-title+li {
    margin-top: auto!important;
}

.contacts-block li:not(.list-group-title) {
    padding-left: 0!important;
}

.eddy-courses {
    .item-link {
        background: #ffffff;
    }
    &__codes {
        @include type-style($font-family-eddy-montserratbold, 700, 1.4rem, #595959);
    }
    &__name {
        @include type-style($font-family-eddy-montserratlight, 400, 1.4rem, #000000);
        opacity: 0.90;
        text-transform: capitalize;
    }
    &--sorting {
        @include type-style($font-family-eddy-montserratbold, 700, 1.6rem, map-deep-get($colors, "primary", "base"));
    }
    &--selected {
        .eddy-courses__codes,
        .eddy-courses__name {
            color: map-deep-get($colors, "primary", "base") !important;
            font-weight: bold;
        }
        .item-link {
            background: #e6e6e6;
        }
    }
    .item-inner {
        background-image: none !important;
        //border-bottom: 0.1px #BCBBC1!important;
    }
}