<template name="course">
  <div class="views">
   <div class="view view-main" data-page="home">
     <div class="pages navbar-fixed">
       <div data-page="home" class="page">
         <div class="navbar eddy-navbar">
           <div class="navbar-inner padding-h-0">
               <div class="left margin-right-0">
                   <a href="{{pathFor 'login'}}" class="link icon-only">
                       <i class="zmdi zmdi-chevron-left font-size-fixed-40 full-width text-center"></i>
                   </a>
               </div>
               <div class="center full-width text-center">
                 <h2 class="margin-0 full-width eddy-navbar__title">GREAT, SELECT YOUR COURSES</h2>
               </div>
               <div class="right width-45 text-center margin-0">
                 <a href="#" class="open-panel link icon-only full-width"></a>
               </div>
           </div>
         </div>
         <form data-search-list=".list-block-search" data-search-in=".item-title" class="searchbar searchbar-init eddy-searchbar">
           <div class="searchbar-input height-40">
             <input type="search" placeholder="Search" class="border-r-20 padding-5 padding-h-20">
           </div>
         </form>
         <div class="searchbar-overlay"></div>
         <div class="page-content">
           <div class="content-block searchbar-not-found">
             <div class="content-block-inner">Nothing found</div>
           </div>
           <div class="list-block contacts-block padding-bottom-60">
             <div class="list-group">
               <ul class="eddy-courses">
                 {{#each courses}}
                 <li class="list-group-title eddy-courses--sorting">{{ this }}</li>

                   <li id="course" class="cur-pointer select-course">
                    <a class="item-link">
                     <div class="item-content">
                       <div class="item-inner padding-right-0">
                         <div class="item-title">
                           <div class="item-title flex-direction--row flex-align-items--center">
                             <div class="eddy-courses__codes width-120">
                              {{number}}
                             </div>
                             <div class="flex--1 text-ellipsis eddy-courses__name">
                               {{courseName}}
                             </div>
                           </div>
                           </div>
                         </div>
                       </div>
                      </a>
                     </li>
                 {{/each}}

               </ul>
             </div>
           </div>
         </div>
       <div class="toolbar position-absolute top-initial eddy-toolbar eddy-toolbar--course">
         <div class="toolbar-inner flex-direction--row flex-justify-content--flex-end">
           <a href="{{pathFor 'profile'}}" class="button ripple border_none--imp eddy-toolbar--course__next padding-right-15">NEXT</a>
         </div>
       </div>
     </div>
   </div>
   </div>
 </div>
</template>