<template name="course">
  <div class="views">
    <div class="view view-main" data-page="home">
      <div class="pages navbar-fixed">
        <div data-page="home" class="page">
          <div class="navbar">
            <div class="navbar-inner">
              <div class="left"> </div>
              <div class="center sliding" style="left: 0px;">Search Bar</div>
              <div class="right"> </div>
            </div>
          </div>
          <form data-search-list=".list-block-search" data-search-in=".item-title" class="searchbar searchbar-init">
            <div class="searchbar-input">
            <input type="search" placeholder="Search"><a href="#" class="searchbar-clear"></a>
            </div><a href="#" class="searchbar-cancel">Cancel</a>
          </form>
          <div class="searchbar-overlay"></div>
          <div class="page-content">
            <div class="content-block searchbar-not-found">
              <div class="content-block-inner">Nothing found</div>
            </div>
            <div class="list-block contacts-block">
              <div class="list-group">
                <ul>
                  <li class="list-group-title">A</li>
                  <li>
                    <div class="item-content">
                      <div class="item-inner">
                        <div class="item-title">
                          <div class="item-title">Abc</div>
                        </div>
                      </div>
                    </div>
                  </li>
                  <li>
                    <div class="item-content">
                      <div class="item-inner">
                        <div class="item-title">Abbie</div>
                      </div>
                    </div>
                  </li>
                  <li>
                    <div class="item-content">
                      <div class="item-inner">
                        <div class="item-title">Adam</div>
                      </div>
                    </div>
                  </li>
                  <li>
                    <div class="item-content">
                      <div class="item-inner">
                        <div class="item-title">Adele</div>
                      </div>
                    </div>
                  </li>
                  <li>
                    <div class="item-content">
                      <div class="item-inner">
                        <div class="item-title">Agatha</div>
                      </div>
                    </div>
                  </li>
                  <li>
                    <div class="item-content">
                      <div class="item-inner">
                        <div class="item-title">Agnes</div>
                      </div>
                    </div>
                  </li>
                  <li>
                    <div class="item-content">
                      <div class="item-inner">
                        <div class="item-title">Albert</div>
                      </div>
                    </div>
                  </li>
                  <li>
                    <div class="item-content">
                      <div class="item-inner">
                        <div class="item-title">Alexander</div>
                      </div>
                    </div>
                  </li>
                </ul>
              </div>
              <div class="list-group">
                <ul>
                  <li class="list-group-title">B</li>
                  <li>
                    <div class="item-content">
                      <div class="item-inner">
                        <div class="item-title">Bailey</div>
                      </div>
                    </div>
                  </li>
                  <li>
                    <div class="item-content">
                      <div class="item-inner">
                        <div class="item-title">Barclay</div>
                      </div>
                    </div>
                  </li>
                  <li>
                    <div class="item-content">
                      <div class="item-inner">
                        <div class="item-title">Bartolo</div>
                      </div>
                    </div>
                  </li>
                  <li>
                    <div class="item-content">
                      <div class="item-inner">
                        <div class="item-title">Bellamy</div>
                      </div>
                    </div>
                  </li>
                  <li>
                    <div class="item-content">
                      <div class="item-inner">
                        <div class="item-title">Belle</div>
                      </div>
                    </div>
                  </li>
                  <li>
                    <div class="item-content">
                      <div class="item-inner">
                        <div class="item-title">Benjamin</div>
                      </div>
                    </div>
                  </li>
                </ul>
              </div>
              <div class="list-group">
                <ul>
                  <li class="list-group-title">C</li>
                  <li>
                    <div class="item-content">
                      <div class="item-inner">
                        <div class="item-title">Caiden</div>
                      </div>
                    </div>
                  </li>
                  <li>
                    <div class="item-content">
                      <div class="item-inner">
                        <div class="item-title">Calvin</div>
                      </div>
                    </div>
                  </li>
                  <li>
                    <div class="item-content">
                      <div class="item-inner">
                        <div class="item-title">Candy</div>
                      </div>
                    </div>
                  </li>
                  <li>
                    <div class="item-content">
                      <div class="item-inner">
                        <div class="item-title">Carl</div>
                      </div>
                    </div>
                  </li>
                  <li>
                    <div class="item-content">
                      <div class="item-inner">
                        <div class="item-title">Cherilyn</div>
                      </div>
                    </div>
                  </li>
                  <li>
                    <div class="item-content">
                      <div class="item-inner">
                        <div class="item-title">Chester</div>
                      </div>
                    </div>
                  </li>
                  <li>
                    <div class="item-content">
                      <div class="item-inner">
                        <div class="item-title">Chloe</div>
                      </div>
                    </div>
                  </li>
                </ul>
              </div>
              <div class="list-group">
                <ul>
                  <li class="list-group-title">V</li>
                  <li>
                    <div class="item-content">
                      <div class="item-inner">
                        <div class="item-title">Vladimir</div>
                      </div>
                    </div>
                  </li>
                </ul>
              </div>
            </div>
          </div>
        </div>
        <div class="toolbar position-absolute top-initial">
          <div class="toolbar-inner">
            Hello
          </div>
        </div>
      </div>
    </div>
  </div>
</template>
