<template name="course">
  <div class="views">
   <div class="view view-main" data-page="home">
     <div class="pages navbar-fixed">
       <div data-page="home" class="page">
         <div class="navbar eddy-navbar">
           <div class="navbar-inner">
               <div class="left">
                   <a href="{{pathFor 'login'}}" class="link icon-only">
                       <span  class="lnr lnr-chevron-left" aria-hidden="true"></span>
                   </a>
               </div>
               <div class="center">
                 <h2 class="font-size-fixed-14">CREATE, SELECT YOUR COURSES</h2>
               </div>
               <div class="right">
                 <a href="#" class="open-panel link icon-only"></a>
               </div>
           </div>
         </div>
         <form data-search-list=".list-block-search" data-search-in=".item-title" class="searchbar searchbar-init eddy-searchbar">
           <div class="searchbar-input">
             <input type="search" placeholder="Search" class="border-r-15">
           </div>
         </form>
         <div class="searchbar-overlay"></div>
         <div class="page-content">
           <div class="content-block searchbar-not-found">
             <div class="content-block-inner">Nothing found</div>
           </div>
           <div class="list-block contacts-block padding-bottom-60">
             <div class="list-group">
               <ul class="eddy-courses">
                 <li class="list-group-title eddy-courses--sorting">A</li>
                 {{#each courses}}
                   <li class="cur-pointer select-course">
                     <div class="item-content">
                       <div class="item-inner">
                         <div class="item-title">
                           <div class="item-title flex-direction--row">
                             <div class="eddy-courses--codes width-100 font-size-fixed-14 text-bold">
                               {{number}}
                             </div>
                             <div id="course" class="flex--1 text-ellipsis font-size-fixed-14">
                               {{courseName}}
                             </div>
                           </div>
                           </div>
                         </div>
                       </div>
                     </li>
                 {{/each}}
               </ul>
             </div>
           </div>
         </div>
       <div class="toolbar position-absolute top-initial eddy-toolbar">
         <div class="toolbar-inner flex-direction--row flex-justify-content--flex-end">
           <a href="{{pathFor 'profile'}}" class="button ripple border_none--imp">NEXT</a>
         </div>
       </div>
     </div>
   </div>
   </div>
 </div>
</template>
