.eddy-rank--badge {
  &__stats {
    top: 60% !important;
  }
}

.eddy-stats {
  &__rank-list {
    &:hover {
      background-color: map-deep-get($colors, "primary", "base") !important;

      color: map-deep-get($colors, "foreground", "white");

      cursor: pointer;
    }
    &:nth-of-type(odd) {
      background-color: #f9f9f9;
    }
  }
}
