<template name="chapters">  
  <div class="eddy-chapters text-center">
    <ul>
      {{#each  $mapped chapters}}
      <li id="list" class="eddy-chapters{{hasPlayed}} cur-pointer">
        <a class="item-link display-block">
          <div  class="padding-v-16">
            <h4 class="margin-0 eddy-chapters__list__index font-size-fixed-12">
              CHAPTER {{inc @index}}
            </h4>
            <p  class="margin-0 eddy-chapters__list__name">
              {{this}}
            </p>
          </div>
        </a>
      </li>
     {{/each}}
    </ul>
  </div>
   
</template>