<template name="chapters">  
  <div class="eddy-chapters text-center">
    <ul>
      {{#each  $mapped chapters}}
      <li id="list" class="eddy-chapters{{hasPlayed}} cur-pointer">
        <a class="item-link display-block">
          <div  class="padding-v-16">
            <h4 class="margin-0 eddy-chapters__list__index font-size-fixed-12">
              CHAPTER {{inc @index}}
            </h4>
            <p  class="margin-0 eddy-chapters__list__name">
              {{this}}
            </p>
          </div>
        </a>
      </li>
     {{/each}}
    </ul>
  </div>
   
</template>

<template name="hackChapter">  
  <div class="eddy-chapters text-center">
        <div class="navbar eddy-navbar">
        <div class="navbar-inner padding-h-0">
            <div class="left">
                <a href="javascript:;" class="link icon-only back-link">
                    <i class="zmdi zmdi-chevron-left font-size-fixed-40 full-width text-center"></i>
                </a>
            </div>                       
        </div>        
      </div>
    <ul class="margin-top-0">
      {{#each  $mapped chapters}}
      <li id="list" class="eddy-chapters{{hasPlayed}} cur-pointer">
        <a class="item-link display-block">
          <div  class="padding-v-16">
            <h4 class="margin-0 eddy-chapters__list__index font-size-fixed-12">
              CHAPTER {{inc @index}}
            </h4>
            <p  class="margin-0 eddy-chapters__list__name">
              {{this}}
            </p>
          </div>
        </a>
      </li>
     {{/each}}
    </ul>
  </div>
   
</template>