<template name="community">
  <div class="eddy-community">
    <div class="list-block">
      <div class="card margin-0">
          <div class="card-content">
              <div class="card-content-inner">
                <ul class="eddy-community--post-area">
                  <li>
                    <div class="item-content padding-left-0">
                      <div class="item-inner padding-right-0">
                        <div class="item-input">
                            <form id="post" class="flex-direction--row flex-justify-content--space-between flex-align-items--center">
                                <input required id="post" class="eddy-community--post-area--input border-r-25 padding-10 height-auto" type="text" name="text" placeholder="Write something...">
                                <button type="submit" class="button eddy-community--post-area--submit">
                                    <i class="zmdi zmdi-mail-send"></i>
                                </button>
                            </form>
                        </div>
                      </div>
                    </div>
                  </li>
                </ul>
              </div>
          </div>
      </div>
    {{#each posts}}
      <div id="post-{{_id}}" class="eddy-community--post">
           <div class="card margin-h-0 margin-bottom-0">
            <div class="card-header">
              <div class="full-width flex-direction--row flex-justify-content--space-between flex-align-items--center">
                  <div id="player" class="flex-direction--row lex-justify-content--flex-start flex-align-items--center">
                    <img width="45" height="45" class="make-round"
                    src="{{#if $neq createdBy.profile.image " "}}
                          {{createdBy.profile.image}}
                      {{else}}
                          /assets/generic_800.png
                      {{/if}}" alt="profile photo">
                    <h4 class="eddy-community--post__username margin-0 font-size-fixed-16 padding-left-10">{{createdBy.profile.name}}</h4>
                  </div>
                  <div class="">
                    <span class="font-size-fixed-12 opacity-60">{{getTimePosted createdAt}} ago</span>
                  </div>
              </div>
            </div>
            <div class="card-content">
                <div class="card-content-inner">
                  <p class="margin-0 opacity-80 word-break font-size-fixed-16">
                    {{body}}
                  </p>
                </div>
            </div>
            <div class="card-footer flex-direction--row flex-justify-content--space-between flex-align-items--center">
              <div class="flex-direction--row">
                <button id="like" type="button" class="button eddy-community--post--like-cmnt-btn iconic-tap--small">
                    {{#if  $eq this.likes.length 0}}
                      <i class="zmdi zmdi-favorite"></i>
                       {{else}}
                      <i class="zmdi zmdi-favorite eddy-community--post--liked"></i>
                       <span>{{this.likes.length}}</span>
                    {{/if}}
                </button>
                <button type="button" id="openCommenting" class="button eddy-community--post--like-cmnt-btn margin-left-15 eddy-comment-btn iconic-tap--small">
                    {{#if  $eq this.comments.length 0}}
                      <i class="zmdi zmdi-comment"></i>
                       {{else}}
                       <i class="zmdi zmdi-comment"></i>
                       <span>{{this.comments.length}}</span>
                    {{/if}}
                </button>
              </div>
              <div clas="play">
                <button type="button" class="button button eddy-community--post--play-btn">
                    <span>PLAY</span>
                </button>
              </div>
            </div>
        </div>
          {{#each this.comments}}
            <div class="eddy-community--post--comment-section hide {{$.Session.get 'showComments'}}">
              <div>
                <div class="card margin-h-0 padding-v-8 margin-0 eddy-community--post--comments overlay-5 padding-left-15">
                    <div class="card-header">
                      <div class="full-width flex-direction--row flex-justify-content--space-between flex-align-items--center">
                          <div id="commenter" class="flex-direction--row lex-justify-content--flex-start flex-align-items--center">
                            <img width="45" height="45"  class="make-round"
                            src="{{#if $neq commenter.profile.image " "}}
                                  {{commenter.profile.image}}
                              {{else}}
                                  /assets/generic_800.png
                              {{/if}}"
                            alt="profile photo">
                            <h4 class="margin-0 eddy-community--post__username font-size-fixed-16 padding-left-10">{{commenter.profile.name}}</h4>
                          </div>
                          <div class="">
                            <span class="font-size-fixed-14 opacity-60">{{getTimePosted createdAt}}</span>
                          </div>
                      </div>
                    </div>
                    <div class="card-content">
                        <div class="card-content-inner">
                          <p class="margin-0 opacity-80 word-break font-size-fixed-16">
                            {{body}}
                          </p>
                        </div>
                    </div>
                    <div class="card-footer">
                      <div class="flex-direction--row">
                        <button type="button" id="commentLike" class="button eddy-community--post--like-cmnt-btn iconic-tap--small">
                          {{#if  $eq this.likes.length 0}}
                            <i class="zmdi zmdi-favorite"></i>
                             {{else}}
                            <i class="zmdi zmdi-favorite eddy-community--post--liked" aria-hidden="true"></i>
                             <span>{{this.likes.length}}</span>
                          {{/if}}
                        </button>
                        <button type="button" id="reply" class="button eddy-community--post--like-cmnt-btn margin-left-15 eddy-comment-reply-btn iconic-tap--small">
                            <i class="zmdi zmdi-mail-reply"></i>
                        </button>
                      </div>
                    </div>
                </div>
              </div>
            </div>
          {{/each}}
          <div class="card margin-0 eddy-community--post--comments--reply hide overlay-5 {{$.Session.get 'showComments'}}">
            <div class="card-content">
                <div class="card-content-inner">
                  <ul class="eddy-community--post-area">
                    <li>
                      <div class="item-content padding-left-0">
                        <div class="item-inner padding-right-0">
                          <div class="item-input">
                              <form id="commentForm" class="flex-direction--row flex-justify-content--space-between flex-align-items--center">
                                  <input required class="eddy-community--post-area--input eddy-community--post-area--input__reply border-r-25 padding-10 height-auto"
                                    type="text"
                                    name="comment">
                                  <button type="submit"
                                          class="button eddy-community--post-area--submit eddy-community--post-area--submit__reply">
                                      <i class="zmdi zmdi-mail-send"></i>
                                  </button>
                              </form>
                          </div>
                        </div>
                      </div>
                    </li>
                  </ul>
                </div>
            </div>
          </div>
      </div>
    {{/each}}
    </div>
  </div>
</template>