<template name="community">
  <div class="eddy-community">
    <div class="list-block">
      <div class="card margin-0">
          <div class="card-content">
              <div class="card-content-inner">
                <ul class="eddy-community--post-area">
                  <li>
                    <div class="item-content">
                      <div class="item-inner">
                        <div class="item-input">
                            <form class="flex-direction--row flex-justify-content--space-between flex-align-items--center">
                                <input id="post" class="eddy-community--post-area--input border-r-20 padding-left-15" type="text" name="text" placeholder="Write something...">
                                <button type="submit" class="button eddy-community--post-area--submit">
                                    <i class="fa fa-paper-plane-o" aria-hidden="true"></i>
                                </button>
                            </form>
                        </div>
                      </div>
                    </div>
                  </li>
                </ul>
              </div>
          </div>
      </div>

    {{#each posts}}
      <div id="post-{{_id}}" class="eddy-community--post">
        <div class="card margin-h-0 margin-bottom-0">
            <div class="card-header">
              <div class="full-width flex-direction--row flex-justify-content--space-between flex-align-items--center">
                  <div class="flex-direction--row lex-justify-content--flex-start flex-align-items--center">
                    <img class="make-round" src="http://placehold.it/30x30" alt="profile photo">
                    <h4 class="margin-0 font-size-fixed-12 padding-left-10">{{createdBy.profile.name}}</h4>
                  </div>
                  <div class="">
                    <span class="font-size-fixed-10 opacity-60">{{getTimePosted createdAt}} ago</span>
                  </div>
              </div>
            </div>
            <div class="card-content">
                <div class="card-content-inner">
                  <p class="margin-0 opacity-80">
                    {{body}}
                  </p>
                </div>
            </div>
            <div class="card-footer flex-direction--row flex-justify-content--space-between flex-align-items--center">
              <div class="flex-direction--row">
                <button type="button" class="button eddy-community--post--like-cmnt-btn">
                    <i class="fa fa-heart" aria-hidden="true"></i>
                    <span>5</span>
                </button>
                <button type="button" id="comment" class="button eddy-community--post--like-cmnt-btn margin-left-15 eddy-comment-btn">
                    <i class="fa fa-comment" aria-hidden="true"></i>
                    <span>1</span>
                </button>
              </div>
              <div class="">
                <button type="button" class="button button eddy-community--post--play-btn color-gray">
                    <span class="text-bold opacity-60">PLAY</span>
                </button>
              </div>
            </div>
        </div>

        <div class="eddy-community--post--comment-section hide">
          <div>
            <div class="card margin-h-0 margin-0 eddy-community--post--comments overlay-5">
                <div class="card-header">
                  <div class="full-width flex-direction--row flex-justify-content--space-between flex-align-items--center">
                      <div class="flex-direction--row lex-justify-content--flex-start flex-align-items--center">
                        <img class="make-round" src="http://placehold.it/30x30" alt="profile photo">
                        <h4 class="margin-0 font-size-fixed-12 padding-left-10">CEM</h4>
                      </div>
                      <div class="">
                        <span class="font-size-fixed-10 opacity-60">10 mins ago</span>
                      </div>
                  </div>
                </div>
                <div class="card-content">
                    <div class="card-content-inner">
                      <p class="margin-0">
                        EASY!
                      </p>
                    </div>
                </div>
                <div class="card-footer">
                  <div class="flex-direction--row">
                    <button type="button" class="button eddy-community--post--like-cmnt-btn">
                        <i class="fa fa-heart" aria-hidden="true"></i>
                        <span>8</span>
                    </button>
                    <button type="button" class="button eddy-community--post--like-cmnt-btn margin-left-15 eddy-comment-reply-btn">
                        <i class="fa fa-reply" aria-hidden="true"></i>
                    </button>
                  </div>
                </div>
            </div>
            <div class="card margin-0 eddy-community--post--comments--reply overlay-5 hide">
              <div class="card-content">
                  <div class="card-content-inner">
                    <ul class="eddy-community--post-area">
                      <li>
                        <div class="item-content">
                          <div class="item-inner">
                            <div class="item-input">
                                <div class="flex-direction--row flex-justify-content--space-between flex-align-items--center">
                                    <input class="eddy-community--post-area--input eddy-community--post-area--input__reply border-r-20 padding-left-15"
                                      type="text"
                                      name="name"
                                      autofocus>
                                    <button type="submit"
                                            class="button eddy-community--post-area--submit eddy-community--post-area--submit__reply">
                                        <i class="fa fa-paper-plane-o" aria-hidden="true"></i>
                                    </button>
                                </div>
                            </div>
                          </div>
                        </div>
                      </li>
                    </ul>
                  </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    {{/each}}

    </div>
  </div>
</template>
