<template name="courseDetails">
  <div class="views">
    <div class="view view-main">
      <div class="eddy-courseDetails__select-topic">
        <div id="closeTopicList" class="flex-direction--row flex-justify-content--flex-end">
          <span class="lnr lnr-cross font-size-fixed-18 padding-20" aria-hidden="true"></span>
        </div>
        <ul class="text-center eddy-courseDetails__select-topic__lists">
          {{#each currentUser.profile.selectedCourses}}
            <li id="list" class="padding-v-10 cur-pointer">
              <a class="eddy-courseDetails__select-topic__list">{{this}}</a>
            </li>
          {{/each}}
        </ul>
      </div>
      <div class="navbar eddy-navbar">
        <div class="navbar-inner">
            <div class="left">
                <a href="{{pathFor 'homePage'}}" class="link icon-only">
                    <i class="zmdi zmdi-chevron-left font-size-fixed-34"></i>
                </a>
            </div>
            <div class="center full-width text-center">
              <h2 class="margin-0 full-width eddy-navbar__title">
                {{#with selectedCourse}}
                   {{this}}
                {{/with}}
              </h2>
            </div>
            <div class="right">
              <a id="openTopicList" href="#" class="open-panel link icon-only">
                <i class="zmdi zmdi-more-vert"></i>
              </a>
            </div>
        </div>
        <div class="subnavbar eddy-navbar--sub">
          <div class="flex-direction--row flex-justify-content--space-between flex-align-items--center full-width">
            <a href="#community" class="button tab-link eddy-navbar--sub--item">COMMUNITY</a>
            <a href="#chapters" class="button tab-link eddy-navbar--sub--item active">CHAPTERS</a>
            <a href="#statistics" class="button tab-link eddy-navbar--sub--item">STATISTICS</a></div>
        </div>
      </div>
      <div class="pages">
        <div class="page with-subnavbar">
          <div class="page-content">
              <div class="tabs eddy-tabs padding-bottom-35">
                <div id="community" class="tab">
                  <div class="content-block padding-0">
                      {{>community}}
                  </div>
                </div>
                <div id="chapters" class="tab active">
                  <div class="content-block padding-0">
                      {{>chapters}}
                  </div>
                </div>
                <div id="statistics" class="tab">
                  <div class="content-block padding-0">
                    {{>stats}}
                  </div>
                </div>
              </div>
          </div>
        </div>
      </div>

      {{> toolbar}}
    </div>
  </div>
</template>
