<template name="quiz">
  <div class="views">
    <div class="view view-main">
      <div class="pages">
        <div class="page">
            <div class="eddy-quiz">
              <div class="text-center full-width display-block eddy-quiz--option padding-5">
                <i class="fa fa-chevron-down" aria-hidden="true"></i>
              </div>
              <div class="padding-h-50 padding-v-10 eddy-quiz--players flex-direction--row flex-justify-content--space-between flex-align-items--center">
                <div class="">
                  <img class="make-round eddy-home--profile-photo" src="http://placehold.it/45x45" alt="Profile Photo">
                  <p class="margin-0 font-size-fixed-12">
                    SANA
                  </p>
                </div>
                <div class="">
                  6
                </div>
                <div class="">
                  <img class="make-round eddy-home--profile-photo" src="http://placehold.it/45x45" alt="Profile Photo">
                  <p class="margin-0 font-size-fixed-12">
                    SALLY
                  </p>
                </div>
              </div>
              <div class="eddy-quiz--ques text-center padding-v-40">
                  <p>
                    What is part of the Marketing Mix?
                  </p>
              </div>
              <div class="eddy-quiz--buttons padding-h-15">
                <a href="#" class="button button-fill button-raised margin-top-10">PRICE</a>
                <a href="#" class="button button-fill button-raised margin-top-10">PLAN</a>
                <a href="#" class="button button-fill button-raised margin-top-10">PLACE</a>
                <a href="#" class="button button-fill button-raised margin-top-10">PRODUCT</a>
              </div>
            </div>
        </div>
      </div>
    </div>
  </div>
</template>
