<template name="quiz">
  <div class="views">
    <div class="view view-main">
      <div class="pages">

      {{#with quizRoom}}
        <div class="page">
            <div class="eddy-quiz flex-direction--column full-height position-relative">
              <div class="eddy-quiz--option padding-h-40 flex-direction--row flex-justify-content--space-between flex-align-items--center height-100">
                  <div class="">
                    <span class="font-size-fixed-12">SURRENDER ?</span>
                  </div>
                  <div class="flex-direction--row">
                    <span class="padding-h-30 eddy-quiz--option--close cur-pointer">
                      <span class="lnr lnr-cross font-size-fixed-18" aria-hidden="true"></span>
                    </span>
                    <span class="eddy-quiz--option--ok cur-pointer">
                      <span class="lnr lnr-checkmark-circle font-size-fixed-18" aria-hidden="true"></span>
                    </span>
                  </div>
              </div>



              <div class="">
                <div class="text-center full-width display-block eddy-quiz--option-btn padding-top-10 cur-pointer">
                    <span class="lnr lnr-chevron-down" aria-hidden="true"></span>
                </div>
                <div class="padding-h-50 padding-bottom-5 eddy-quiz--players flex-direction--row flex-justify-content--space-between flex-align-items--center">
                  <div class="text-center eddy-quiz--players--me position-relative">
                    <span class="eddy-quiz--players--rank">2</span>
                    <img width="45" height="45" class="make-round eddy-quiz--players--profile-img"
                    src="{{challanger.profile.image}}" alt="Profile Photo">
                    <p class="margin-0 font-size-fixed-12">
                      {{challanger.profile.name}}
                    </p>
                  </div>
                  <div class="eddy-quiz--level">
                    {{#with timer}}
                        {{this}}
                    {{/with}}
                  </div>
                  <div class="text-center eddy-quiz--players--opponent position-relative">
                    <span class="eddy-quiz--players--rank__opponent">?</span>
                    <img width="45" height="45" class="make-round eddy-home--profile-photo eddy-quiz--players--profile-img"
                    src="{{challanged.profile.image}}" alt="Profile Photo">
                    <p class="margin-0 font-size-fixed-12">
                      {{challanged.profile.name}}
                    </p>
                  </div>
                </div>
              </div>
              <div class="flex--1 flex-direction--column flex-justify-content--flex-end toggle-opacity">
                <div class="eddy-quiz--question text-center padding-v-40 flex--1 flex-direction--column flex-justify-content--center">
                    <p>
                      What is part of the Marketing Mix?
                    </p>
                </div>
                <div class="padding-h-20 padding-bottom-20">
                  <a href="#" class="eddy--sqr-buttons eddy--sqr-buttons__price button button-fill button-raised margin-top-10">PRICE</a>
                  <a href="#" class="eddy--sqr-buttons eddy--sqr-buttons__plan button button-fill button-raised margin-top-10">PLAN</a>
                  <a href="#" class="eddy--sqr-buttons eddy--sqr-buttons__place button button-fill button-raised margin-top-10">PLACE</a>
                  <a href="#" class="eddy--sqr-buttons eddy--sqr-buttons__product button button-fill button-raised margin-top-10">PRODUCT</a>
                </div>
              </div>
            </div>
          </div>
         {{/with}}

      </div>
    </div>
  </div>
</template>
