%button-common{
    //padding-left: 2rem !important;
    //padding-right: 2rem !important;

    background-color:  map-deep-get($colors, "buttons", "white") !important;

    border: 1px solid map-deep-get($colors, "primary", "base") !important;
    outline: none;

    color: map-deep-get($colors, "foreground", "light-black") !important;
}

%button-revert{
    padding-left: 2rem !important;
    padding-right: 2rem !important;

    background-color:  map-deep-get($colors, "primary", "base") !important;

    //border: 1px solid map-deep-get($colors, "buttons", "white") !important;
    outline: none;

    color: map-deep-get($colors, "buttons", "white") !important;
}

%button-secondary{
    @extend %button-common;

    background-color:  map-deep-get($colors, "buttons", "white") !important;
    border: 1px solid map-deep-get($colors, "buttons", "dark-red") !important;

    color: map-deep-get($colors, "buttons", "dark-red") !important;
}

.eddy{
    &--primary-button{
        @extend  %button-common;

        &:hover {
            @include mix-bg( map-deep-get($colors, "foreground", "white"), 'black-mix', 90%);
            color: map-deep-get($colors, "primary", "base") !important;
        }

        &:active {
            @include mix-bg( map-deep-get($colors, "foreground", "white"), 'black-mix', 90%);
            color: map-deep-get($colors, "primary", "base");
        }

        &:focus {
            @include mix-bg( map-deep-get($colors, "foreground", "white"), 'black-mix', 90%);
            color: map-deep-get($colors, "primary", "base") !important;
        }
    }
	&--primary-button-revert{
        @extend  %button-revert;

        &:hover {
            @include mix-bg( map-deep-get($colors, "buttons", "purple"), 'black-mix', 90%);
            color: map-deep-get($colors, "buttons", "white") !important;
        }

        &:active {
            @include mix-bg( map-deep-get($colors, "buttons", "purple"), 'black-mix', 90%);
            color: map-deep-get($colors, "buttons", "white") !important;
        }

        &:focus {
            @include mix-bg( map-deep-get($colors, "buttons", "purple"), 'black-mix', 90%);
			color: map-deep-get($colors, "buttons", "white") !important;
        }
    }
    &--secondary-button{
        @extend  %button-secondary;

        &:hover {
            @include mix-bg( map-deep-get($colors, "buttons", "dark-red"), 'black-mix', 90%);
        }

        &:active {
            @include mix-bg( map-deep-get($colors, "buttons", "dark-red"), 'black-mix', 90%);
            color: map-deep-get($colors, "buttons", "white") !important;
        }

        &:focus {
            @include mix-bg( map-deep-get($colors, "buttons", "dark-red"), 'black-mix', 90%);
            color: map-deep-get($colors, "buttons", "white") !important;
        }
    }

    &--sqr-buttons{
      background: map-deep-get($colors, "background", "border") !important;
      box-shadow: 0 1px 2px rgba(0,0,0,.12) !important;
      border-radius: 0 !important;

      color: map-deep-get($colors, "foreground", "light-black") !important;
      font-weight: bold;
      font-size: 10px !important;

      &__price {
        &:focus {
          background-color: #494949 !important;
          color: map-deep-get($colors, "foreground", "white") !important;
        }
        &:active {
          background-color: #494949 !important;
          color: map-deep-get($colors, "foreground", "white") !important;
        }
        &:hover {
          background-color: #494949 !important;
          color: map-deep-get($colors, "foreground", "white") !important;
        }
      }
      &__plan {
        &:focus {
          background-color: map-deep-get($colors, "primary", "base") !important;
          color: map-deep-get($colors, "foreground", "white") !important;
        }
        &:active {
          background-color: map-deep-get($colors, "primary", "base") !important;
          color: map-deep-get($colors, "foreground", "white") !important;
        }
        &:hover {
          background-color: map-deep-get($colors, "primary", "base") !important;
          color: map-deep-get($colors, "foreground", "white") !important;
        }
      }
      &__place {
        &:focus {
          background-color: #494949 !important;
          color: map-deep-get($colors, "foreground", "white") !important;
        }
        &:active {
          background-color: #494949 !important;
          color: map-deep-get($colors, "foreground", "white") !important;
        }
        &:hover {
          background-color: #494949 !important;
          color: map-deep-get($colors, "foreground", "white") !important;
        }
      }
      &__product {
        &:focus {
          background-color: #494949 !important;
          color: map-deep-get($colors, "foreground", "white") !important;
        }
        &:active {
          background-color: #494949 !important;
          color: map-deep-get($colors, "foreground", "white") !important;
        }
        &:hover {
          background-color: #494949 !important;
          color: map-deep-get($colors, "foreground", "white") !important;
        }
      }
    }
}
