.eddy-form{
  &--lists{
    &:before, &:after{
      background-color: transparent !important;
    }
  }

  &--item-inner{
    &__input {
      @include type-style($font-family-eddy-montserrathairline, 600, 1.8rem, #000000);
      //opacity: 0.8;

      &::-webkit-input-placeholder { /* Chrome/Opera/Safari */
        color: #696969 !important;
        font-size: 1.6rem;
      }
      &::-moz-placeholder { /* Firefox 19+ */
        color: #696969 !important;
        font-size: 1.6rem;
      }
      &:-ms-input-placeholder { /* IE 10+ */
        color: #696969 !important;
        font-size: 1.4rem;
      }
      &:-moz-placeholder { /* Firefox 18- */
        color: #696969 !important;
        font-size: 1.6rem;
      }

    }

    &:after{
      background-color: transparent !important;
    }
  }


  &--icon{
    padding-bottom: 0.8rem;

    color: map-deep-get($colors, "primary", "base") !important;
    font-size: 2rem;

    &.zmdi-lock-outline{
      padding-left: 0.2rem;

      font-size: 2.3rem;
    }
  }

  &__forgot-pass-text {
    @include type-style($font-family-eddy-montserratlight, 400, 1.6rem, #595959);
    font-style: italic;;
  }

  &__fortgot-msg {
    @include type-style($font-family-eddy-montserratlight, 400, 1.8rem, #595959);
    line-height: normal;
  }
}
