<template name="forgotPass">
  <div class="views">
    <div class="view view-main">
      <div class="pages">
        <div class="page">
          <div class="page-content">
            <!-- Top Navbar-->
            <div class="navbar eddy-navbar">
              <div class="navbar-inner">
                  <div class="left">
                      <a href="{{pathFor 'login'}}" class="link icon-only">
                          <i class="fa fa-chevron-left" aria-hidden="true"></i>
                      </a>
                  </div>
                  <div class="center">
                    <h2 class="font-size-fixed-14 margin-0">FORGOT PASSWORD ?</h2>
                  </div>
                  <div class="right">
                    <a href="#" class="open-panel link icon-only"></a>
                  </div>
              </div>
            </div>
            <!-- /End of Top Navbar-->
            <div class="list-block margin-top-120 padding-h-20">
              <h3 class="text-center font-size-fixed-14">Enter your email and we will send you password reset instructions.</h3>
              <form name="forgotPassForm" autocomplete="off" class="eddy-form margin-top-30">
                <ul class="eddy-form--lists">
                  <li>
                    <div class="item-content">
                      <div class="item-media width-15">
                        <i class="fa fa-envelope-o eddy-form--icon" aria-hidden="true"></i>
                      </div>
                      <div class="item-inner eddy-form--item-inner">
                        <div class="item-input border-bottom">
                          <input autocomplete="off" required type="email" placeholder="Student Email">
                        </div>
                      </div>
                    </div>
                  </li>
                </ul>
                <div class="content-block">
                  <div class="row">
                    <div class="col-auto flex-justify-content--center display-flex flex-direction--row">
                      <input type="submit"
                             name="name"
                             value="SEND"
                             class="width-auto button button-round eddy--login-button border-r-20 padding-h-24 margin-top-40 font-size-fixed-10">
                    </div>
                  </div>
                </div>
              </form>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

</template>
