<template name="forgotPass">
  <div class="views">
    <div class="view view-main">
      <div class="pages">
        <div class="page">
          <div class="page-content">
            <!-- Top Navbar-->
            <div class="navbar eddy-navbar">
              <div class="navbar-inner">
                  <div class="left">
                      <a href="{{pathFor 'login'}}" class="link icon-only iconic-tap">
                          <i class="zmdi zmdi-chevron-left font-size-fixed-40 full-width text-center"></i>
                      </a>
                  </div>
                  <div class="center full-width text-center">
                    <h2 class="margin-0 full-width eddy-navbar__title">FORGOT PASSWORD ?</h2>
                  </div>
                  <div class="right">
                    <a href="#" class="open-panel link icon-only"></a>
                  </div>
              </div>
            </div>
            <!-- /End of Top Navbar-->
            <div class="list-block margin-top-120 padding-h-20">
              <h3 class="text-center font-size-fixed-14 eddy-form__fortgot-msg">Enter your email and we will send you password reset instructions.</h3>
              <form name="forgotPassForm" autocomplete="off" class="eddy-form margin-top-55">
                <ul class="eddy-form--lists">
                  <li>
                    <div class="item-content">
                      <div class="item-media width-15">
                        <span class="lnr lnr-envelope eddy-form--icon" aria-hidden="true"></span>
                      </div>
                      <div class="item-inner eddy-form--item-inner">
                        <div class="item-input border-bottom">
                          <input autocomplete="off" class="eddy-form--item-inner__input" required type="email" placeholder="Student Email">
                        </div>
                      </div>
                    </div>
                  </li>
                </ul>
                <div class="content-block">
                  <div class="row">
                    <div class="col-auto flex-justify-content--center display-flex flex-direction--row">
                      <input type="submit"
                             name="name"
                             value="SEND"
                             class="width-auto eddy--login-button border-r-25 padding-h-40 padding-v-15 margin-top-30 font-size-fixed-12">
                    </div>
                  </div>
                </div>
              </form>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

</template>
