// 1. overriding weblit-padding-start: 40px
ul {
    padding: 0; // [1]
}

li {
    list-style: none;
}

.list-block ul:after {
    position: inherit!important;
}

.cloudinary-fileupload {
    width: 0;
    height: 0;
}