
.nav {
    > li {
        > a {
            &:hover {
                background: none; // remove hover style from nav link
            }
        }
    }
}


// remove margin bottom because it conflicts with bootstrap clearfix
.remove_mrgn--bottom {
    margin-bottom: 0;

    address, article, aside, blockquote,
    canvas, dd, dl,
    fieldset, figcaption, figure, footer,
    form, h1, h2, h3,
    h4, h5, h6, header, hgroup,
    hr, main, nav, noscript,
    ol, output, p, pre,
    section, table, tfoot, ul,
    video, div {
        margin-bottom: 0;
    }
}

// Override framework 7 default style
.page {
  background-color: map-deep-get($colors, "background", "white") !important;
}

.card {
  -moz-box-shadow:    inset 0 -2px 4px rgba(0,0,0,.12) !important;
  -webkit-box-shadow: inset 0 -2px 4px rgba(0,0,0,.12) !important;
   box-shadow:         inset 0 -2px 4px rgba(0,0,0,.12) !important;

   &-header {
     &:after {
       background-color: transparent !important;
     }
   }

   &-footer {
     &:before {
       //background-color: transparent !important;
     }
   }
}

/* Change the white to any color ;) */
input:-webkit-autofill {
    -webkit-box-shadow: 0 0 0px 1000px white inset !important;
}
