<template name="challengeOpponent">
  <div class="views">
    <div class="view view-main">
      <div class="navbar eddy-navbar eddy-navbar--challenge">
        <div class="navbar-inner">
            <div class="left">
                <a href="{{pathFor 'homePage'}}" class="link icon-only">
                  <span class="lnr lnr-chevron-left" aria-hidden="true"></span>
                </a>
            </div>
            <div class="center full-width text-center">
              <h2 class="font-size-fixed-14 margin-0 full-width">
                   {{$.Session.get 'chapter'}}
              </h2>
            </div>
            <div class="right">
              <a href="#" class="open-panel link icon-only">

              </a>
            </div>
        </div>
      </div>
      <div class="pages">
        <div class="page eddy-challenge">
          <div class="page-content">
            <div class="eddy-challenge-mrgn-top flex-direction--column">
              <div class="eddy-challenge__random-op-btn flex-direction--row flex-justify-content--center flex-align-items--center">
                <button type="button" class="eddy--primary-button eddy--primary-button__white-color eddy--primary-button__white-color--challenge border-r-20 font-size-fixed-10 text-bold">
                    RANDOM OPPONENT
                </button>
              </div>
              <div class="list-block flex--1 padding-top-16">
                <ul class="eddy-challenge__list">
                  {{#each players}}
                    <li id="player" class="item-content padding-left-0 cur-pointer">
                      <div class="item-inner padding-h-20">
                        <div class="item-title">
                          <div class="flex-direction--row flex-justify-content--flex-start flex-align-items--center">
                            <img class="make-round" width="30" height="30" src="{{profile.image}}" alt="Player Photo" />
                            <p class="font-size-fixed-12 padding-left-10 margin-0">
                               {{profile.name}}
                            </p>
                          </div>
                        </div>
                        <div class="item-after">
                          <i class="fa fa-play-circle-o cur-pointer" aria-hidden="true"></i>
                        </div>
                      </div>
                    </li>
                  {{/each}}
                </ul>
              </div>
            </div>
          </div>
        </div>
      </div>
      {{> toolbar}}
    </div>
  </div>
</template>
