<template name="challengeOpponent">
  <div class="views">
    <div class="view view-main">
      <div class="navbar eddy-navbar eddy-navbar--challenge">
        <div class="navbar-inner padding-h-0">
            <div class="left full-height width-45 text-center margin-0">
                <a href="{{pathFor 'courseDetails'}}" class="link icon-only full-width">
                    <i class="zmdi zmdi-chevron-left font-size-fixed-40 full-width text-center"></i>
                </a>
            </div>
            <div class="center full-width text-center">
              <h2 class="margin-0 full-width eddy-navbar__title">
                   Challenge a mate
              </h2>
            </div>
            <div class="right">
              <a href="#" class="open-panel link icon-only">

              </a>
            </div>
        </div>

        <div class="eddy-challenge__random-op-btn flex-direction--row flex-justify-content--center flex-align-items--center height-70">
          <button id="randomOpponent" type="button" class="eddy--primary-button eddy--primary-button__white-color eddy--primary-button__white-color--challenge border-r-25 font-size-fixed-14">
              RANDOM OPPONENT
          </button>
        </div>
      </div>
      <div class="pages">
        <div class="page eddy-challenge">
          <div class="page-content">
            <div class="eddy-challenge-mrgn-top flex-direction--column">

              <div class="list-block flex--1">
                <ul class="eddy-challenge__list">
                  {{#each players}}
                   {{#if user.profile.name}}
                    {{#if $neq user.profile.name currentUser.profile.name}}
                          <li class="item-content padding-left-0 cur-pointer">
                            <div class="item-inner padding-h-20">
                              <div class="item-title">
                                <div class="flex-direction--row flex-justify-content--flex-start flex-align-items--center">
                                  <img id="playerIcon" class="make-round" width="45" height="45"
                                  src="{{photo user._id}}"
                                  alt="Player Photo" />
                                  <p class="font-size-fixed-16 padding-left-10 margin-0 eddy-community--post__username">
                                  {{user.profile.name}}
                                  <span class="eddy-badge eddy-badge__primary">
                                    <i class="{{status _id}}"></i>
                                  </span>
                                  </p>
                                </div>
                              </div>
                              <div class="item-after player">
                                  <span>
                                    <i class="zmdi zmdi-play-circle-outline font-size-fixed-20 eddy-challenge__user-info padding-left-5">

                                   </i>
                                </span>
                                 {{!-- <i class="zmdi zmdi-info-outline font-size-fixed-18 eddy-challenge__user-info"></i>
                                <i class="zmdi zmdi-help-outline font-size-fixed-18 eddy-challenge__user-info"></i> --}}
                              </div>
                            </div>
                          </li>
                       {{/if}}
                    {{/if}}
                  {{/each}}
                </ul>
              </div>
            </div>
          </div>
        </div>
      </div>
      {{> toolbar}}
    </div>
  </div>
</template>
