<template name="settings">
  <div class="popup popup-settings tablet-fullscreen">
    <div class="views">
      <div class="view view-main">
        <div class="navbar eddy-navbar eddy-navbar__noti">
          <div class="navbar eddy-navbar">
            <div class="navbar-inner padding-0">
                <div class="left full-height width-45 text-center margin-0">
                    <a href="#" class="link icon-only full-width">

                    </a>
                </div>
                <div class="center full-width text-center">
                  <h2 class="margin-0 full-width eddy-navbar__noti__title font-size-fixed-14">SETTINGS</h2>
                </div>
                <div class="right width-45 text-center margin-0">
                  <a href="#" class="close-popup link icon-only full-width">
                    <i class="zmdi zmdi-close font-size-fixed-20 eddy-navbar__noti__close"></i>
                  </a>
                </div>
            </div>
          </div>

        </div>
        <div class="pages">
          <div class="page">
            <div class="page-content eddy-settings">
              <div class="list-block margin-top-90">
                <ul>
                  {{#if currentUser.profile.isAdmin}}
                    <li id="admin" class="item-content cur-pointer close-popup padding-left-30">
                      <div class="item-media">
                        <i class="zmdi zmdi-rotate-right zmdi-hc-spin eddy-settings__list__icons"></i>
                      </div>
                      <div  class="item-inner padding-v-20">
                        <div  class="item-title eddy-settings__list">ADMIN PANEL</div>
                      </div>
                    </li>
                  {{/if}}
                  <li class="item-content cur-pointer padding-left-30">
                    <div class="item-media">
                      <i class="zmdi zmdi-favorite-outline eddy-settings__list__icons"></i>
                    </div>
                    <div class="item-inner padding-v-20">
                      <div class="item-title eddy-settings__list">TELL A FRIEND</div>
                    </div>
                  </li>
                  <li id="mantra" class="item-content cur-pointer close-popup padding-left-30">

                    <div class="item-media">
                      <i class="zmdi zmdi-star-outline eddy-settings__list__icons"></i>
                    </div>
                    <div class="item-inner padding-v-20">
                      <div class="item-title eddy-settings__list">MANTRA</div>
                    </div>
                  
                  </li>
                  <li id="editProfile" class="item-content cur-pointer close-popup padding-left-30">
                    <div class="item-media">
                      <i class="zmdi zmdi-account-o eddy-settings__list__icons"></i>
                    </div>
                    <div class="item-inner padding-v-20">
                      <div class="item-title eddy-settings__list">
                        EDIT PROFILE
                      </div>
                    </div>
                  </li>
                  <li class="item-content padding-left-30">
                    <div class="item-media">
                      <i class="zmdi zmdi-volume-up eddy-settings__list__icons"></i>
                    </div>
                    <div class="item-inner padding-right-30 padding-v-20">
                      <div class="item-title eddy-settings__list">SOUNDS</div>
                      <div class="item-after">
                        <div class="item-input">
                          <label class="label-switch">
                            <input type="checkbox" checked>
                            <div class="checkbox"></div>
                          </label>
                        </div>
                      </div>
                    </div>
                  </li>
                  <li class="item-content padding-left-30">
                    <div class="item-media eddy-toolbar--icon__noti">
                      <div>
                        <i class="zmdi zmdi-notifications-none eddy-settings__list__icons"></i>
                      </div>
                    </div>
                    <div class="item-inner padding-right-30 padding-v-20">
                      <div class="item-title eddy-settings__list">NOTIFICATIONS</div>
                      <div class="item-after">
                        <div class="item-input">
                          <label class="label-switch">
                            <input type="checkbox">
                            <div class="checkbox"></div>
                          </label>
                        </div>
                      </div>
                    </div>
                  </li>
                  <li id="help" class="item-content cur-pointer close-popup padding-left-30">
                    <div class="item-media">
                      <i class="zmdi zmdi-info-outline eddy-settings__list__icons"></i>
                    </div>
                    <div class="item-inner padding-v-20">
                      <div class="item-title eddy-settings__list">HELP</div>
                    </div>
                  </li>
                  <li class="item-content cur-pointer close-popup padding-left-30">
                    <div class="item-media">
                      <i class="zmdi zmdi-lock-outline eddy-settings__list__icons"></i>
                    </div>
                    <div id="privacy" class="item-inner padding-v-20">
                      <div  class="item-title eddy-settings__list">PRIVACY</div>
                    </div>
                  </li>
                  <li id="logout" class="item-content cur-pointer close-popup padding-left-30">
                    <div class="item-media">
                      <i class="zmdi zmdi-close-circle-o eddy-settings__list__icons"></i>
                    </div>
                    <div class="item-inner padding-v-20">
                      <div class="item-title eddy-settings__list">LOGOUT</div>
                    </div>
                  </li>
                </ul>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</template>
