<template name="notification">
  <div class="popup popup-notification tablet-fullscreen">
    <div class="views">
      <div class="view view-main">
        <div class="navbar eddy-navbar">
          <div class="navbar-inner">
              <div class="left">
                  <a href="#" class="link icon-only">

                  </a>
              </div>
              <div class="center full-width text-center">
                <h2 class="font-size-fixed-14 margin-0 full-width">
                    NOTIFICATIONS
                </h2>
              </div>
              <div class="right">
                <a href="#" class="close-popup link icon-only">
                  <i class="fa fa-close" aria-hidden="true"></i>
                </a>
              </div>
          </div>
        </div>
        <div class="pages">
          <div class="page">
            <div class="page-content">
              <div class="card margin-0 margin-top-70">
                  <div class="card-header padding-0 border-bottom">
                    <h4 class="font-size-fixed-14 padding-h-20 margin-0">
                      CHALLENGES
                    </h4>
                  </div>
                  <div class="card-content">
                      <div class="card-content-inner">
                      {{#each challangeNotifications}}
                        <div class="list-block">
                          <ul>
                            <li class="item-content padding-left-0">
                              <div class="item-inner padding-h-20">
                                <div class="item-title">
                                  <div class="flex-direction--row flex-justify-content--flex-start flex-align-items--center">
                                    <img class="make-round" width="30" height="30" src="{{challanger.profile.image}}" alt="Player Photo" />
                                    <p class="font-size-fixed-12 padding-left-10 margin-0">
                                    {{challanger.profile.name}}
                                    </p>
                                  </div>
                                </div>
                                <div class="item-after">
                                  <i id="denyChallange" class="fa fa-close cur-pointer margin-right-30 close-popup" aria-hidden="true"></i>
                                  <i id="acceptChallange" class="fa fa-check cur-pointer close-popup" aria-hidden="true"></i>
                                </div>
                              </div>
                            </li>
                          </ul>
                        </div>
                      {{/each}}
                      </div>
                  </div>
              </div>
              <div class="card margin-0 margin-top-20">
                  <div class="card-header padding-0 border-bottom">
                    <h4 class="font-size-fixed-14 padding-h-20 margin-0">
                      NEWS
                    </h4>
                  </div>
                  <div class="card-content">

                    {{#each postNotifications}}
                      <div class="card-content-inner padding-0">
                        <div class="border-bottom padding-h-20 padding-v-10">
                          <div class="flex-direction--row flex-justify-content--space-between flex-align-items--center">
                              <div class="item-media eddy-home--quiz--icon-wrap flex-direction--row flex-align-items--center">
                                  <img class="make-round eddy-home--quiz--icon" width="30" height="30" src="/assets/icon_2.png" alt="icon">
                                  <h4 class="margin-0 padding-left-10 font-size-fixed-14 eddy-home--quiz--number">
                                    {{topic}}
                                  </h4>
                              </div>
                              <div class="font-size-fixed-10 opacity-70">
                                {{getTimePosted when}} ago
                              </div>
                          </div>
                          <p class="font-size-fixed-12 margin-bottom-0">
                            {{createdBy.profile.name}} {{type}}ed in {{topic}}
                          </p>
                        </div>
                      </div>
                    {{/each}}

                    {{#each likeNotifications}}
                      <div class="card-content-inner padding-0">
                        <div class="border-bottom padding-h-20 padding-v-10">
                          <div class="flex-direction--row flex-justify-content--space-between flex-align-items--center">
                              <div class="item-media eddy-home--quiz--icon-wrap flex-direction--row flex-align-items--center">
                                  <img class="make-round eddy-home--quiz--icon" width="30" height="30" src="/assets/icon_2.png" alt="icon">
                                  <h4 class="margin-0 padding-left-10 font-size-fixed-14 eddy-home--quiz--number">
                                    {{topic}}
                                  </h4>
                              </div>
                              <div class="font-size-fixed-10 opacity-70">
                                {{getTimePosted when}} ago
                              </div>
                          </div>
                          <p class="font-size-fixed-12 margin-bottom-0">
                            {{liker.profile.name}} {{type}}d your post in {{topic}}
                          </p>
                        </div>
                      </div>
                    {{/each}}

                    {{#each likesOnComment}}
                      <div class="card-content-inner padding-0">
                        <div class="border-bottom padding-h-20 padding-v-10">
                          <div class="flex-direction--row flex-justify-content--space-between flex-align-items--center">
                              <div class="item-media eddy-home--quiz--icon-wrap flex-direction--row flex-align-items--center">
                                  <img class="make-round eddy-home--quiz--icon" width="30" height="30" src="/assets/icon_2.png" alt="icon">
                                  <h4 class="margin-0 padding-left-10 font-size-fixed-14 eddy-home--quiz--number">
                                    {{topic}}
                                  </h4>
                              </div>
                              <div class="font-size-fixed-10 opacity-70">
                                {{getTimePosted when}} ago
                              </div>
                          </div>
                          <p class="font-size-fixed-12 margin-bottom-0">
                            {{liker.profile.name}} liked your comment in {{topic}}
                          </p>
                        </div>
                      </div>
                    {{/each}}

                    {{#each commentNotification}}
                      <div class="card-content-inner padding-0">
                        <div class="border-bottom padding-h-20 padding-v-10">
                          <div class="flex-direction--row flex-justify-content--space-between flex-align-items--center">
                              <div class="item-media eddy-home--quiz--icon-wrap flex-direction--row flex-align-items--center">
                                  <img class="make-round eddy-home--quiz--icon" width="30" height="30" src="/assets/icon_2.png" alt="icon">
                                  <h4 class="margin-0 padding-left-10 font-size-fixed-14 eddy-home--quiz--number">
                                    {{topic}}
                                  </h4>
                              </div>
                              <div class="font-size-fixed-10 opacity-70">
                                {{getTimePosted when}} ago
                              </div>
                          </div>
                          <p class="font-size-fixed-12 margin-bottom-0">
                            {{commenter.profile.name}} {{type}}ed on your post in {{topic}}
                          </p>
                        </div>
                      </div>
                    {{/each}}

                  </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</template>
