.eddy-toolbar {
  background-color: map-deep-get($colors, "background", "white") !important;
  color: map-deep-get($colors, "foreground", "light-black") !important;

  -webkit-box-shadow: 0 55px 10px 60px map-deep-get($colors, "background", "border") !important;
  -moz-box-shadow: 0 55px 10px 60px map-deep-get($colors, "background", "border") !important;
  box-shadow: 0 55px 10px 60px map-deep-get($colors, "background", "border") !important;

  &--icon{
    color: #737373 !important;
    font-size: 2.5rem !important;

    &__noti {
      //position: relative;
      overflow: visible !important;
      div {
        -webkit-transform: rotate(20deg) !important;
        -ms-transform: rotate(20deg) !important;
        transform: rotate(20deg) !important;
      }

      &--badge {
        position: absolute;
        right: -3px;
        top: 0.5rem;

        color: map-deep-get($colors, "primary", "base") !important;
        font-size: 1rem !important;
        font-weight: 700;

        -webkit-transform: rotate(-20deg);
        -moz-transform: rotate(-20deg);
        -ms-transform: rotate(-20deg);
        transform: rotate(-20deg);
      }
    }
  }

  &--course {
    &__next {
      @include type-style($font-family-eddy-montserratbold, 700, 1.6rem, '');
    }
  }
}
