.eddy-toolbar {
  background-color: map-deep-get($colors, "background", "white") !important;
  color: map-deep-get($colors, "foreground", "light-black") !important;

  -webkit-box-shadow: 0 55px 10px 60px map-deep-get($colors, "background", "border") !important;
  -moz-box-shadow: 0 55px 10px 60px map-deep-get($colors, "background", "border") !important;
  box-shadow: 0 55px 10px 60px map-deep-get($colors, "background", "border") !important;

  &--icon{
    color: map-deep-get($colors, "foreground", "light-black") !important;
    font-size: 1.8rem !important;

    &__noti {
      position: relative;

      -webkit-transform: rotate(20deg);
      -ms-transform: rotate(20deg);
      transform: rotate(20deg);

      &--badge {
        position: absolute;
        right: 2.2rem;
        top: -1rem;

        color: map-deep-get($colors, "primary", "base") !important;
        font-size: 1rem !important;
        font-weight: 700;

        -webkit-transform: rotate(-20deg);
        -ms-transform: rotate(-20deg);
        transform: rotate(-20deg);
      }
    }
  }
}
